@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&display=swap');

header {
    border-top: 8px solid #b2b2b2;
    background-color: #ffffffe8;
    padding: 1rem 0 1rem 0;
    position: fixed;
    width: 100%;
    height: 5.7rem;
}



.box {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
}

.box-item {
    width: 100px;
    background-color: aqua;
}

.logotype {
    display: flex;
    justify-content: flex-start;
}

main {
    padding-top: 5.7rem;
}

.banner {
    background-image: url('../assets/banners/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 64vh;
    max-height: 65vh;
}

.subtitles {
    font-size: 2.2rem;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-more {
    background-color: #002366;
    color: #fff;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    border-radius: 15px 15px 15px;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    display: inline;
    cursor: pointer;
    border: none;

}

.btn-more:hover {
    background-color: #ffffff;
    color: black;
    border: 1.4px solid black;
    transition: 0.6s;
}

.container-products {
    display: flex;
    column-gap: 10px;
    overflow-x: auto;
    height: 20rem;
    width: 100%;
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #002366 #f8b1d1;
    /* scroll thumb and track */
}

.product {
    min-width: 15rem;
    max-height: 20rem;
    background-color: aquamarine;
}

.menu-burger {
    display: flex;
    align-items: center;
    padding: 1vh;
    justify-content: end;
}

.menu-burger>img {
    width: 2rem;
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8b1d1;
    border-right: 1px solid #141414;
}

.aside-a-style {
    color: #ffffff;
}

.aside-a-style:hover {
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}

footer {
    background-color: #f8b1d1;
}