.btn-add-product {
    background-color: #4CAF50;
    border: none;
}

.btn-add-product:hover{
    background-color: #3e8e41;
}

.box-btn-controls{
    display:flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.card-product{
    padding: 0;
}

.box-btn-controls > button {
    border: none;
    background-color: inherit;
    height: 2rem;
}
.box-btn-controls > button:hover {
    text-decoration: underline;
}

.photo-product-mini > img {
    object-fit: cover ;
    aspect-ratio: 1/1;
    width: 100%;
    
}
